$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #999;
  text-align: center;
}

form {
  margin: 10;
  text-align: center;
}

input {
  height: 30px;
  width: 300px;
}

button,
input,
textarea {
  border: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  outline: none;
  padding: 5px 10px;
}

#emojiPickerWrap {
  margin: 10px 0 0;
}

.field {
  padding: 20px 0;
  text-align: center;
}

textarea {
  height: 200px;
  width: 400px;

}

ul.emoji-list * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.emoji-list li {
  float: left;
  font-size: 36px;
  display: inline-block;
  margin: 4px;
  padding: 2px;

}

img.emoji {
  cursor: pointer;
  height: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
  width: 1em;
}

::-webkit-input-placeholder { // Chrome/Opera/Safari
  opacity: .3;

}
::-moz-placeholder {
  opacity: .3;
}

:-ms-input-placeholder {
  opacity: .3;
}

::-moz-placeholder {
  opacity: .3;
}

h1 {
  //background-color: #6ee3f4;
  border-radius: 3%;
}

.greeting {
  
}
